body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.61)), url(./images/headerbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text-wrap{
    position: absolute;
    left: 15%;
    top: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;flex-direction: column;

}

.hero-text-wrap h1{
    font-size: 5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight:lighter;
    margin-bottom: 0;
    animation: floatinright 1.9s ease-in-out forwards;
}

@keyframes floatinright {
    from{
        transform: translateX(-90px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-text-wrap h2{
    font-size: 2.5em;
    color: white;
    font-family: 'Alex Brush', sans-serif;
    font-style: normal;
    margin-top: 3px;
    animation: floatinright 1.9s ease-in-out 1s forwards;
    opacity: 0;

}




.navigation{
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    font-family: 'Alex Brush', sans-serif;
    position: absolute;
    top: 40px;
    right: 20px;
    font-Weight: lighter;
    opacity: 1;
    animation: floatinfromright 3s ease forwards;
}

@keyframes floatinfromright {
    0%{
        transform: translateX(350px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.link{
    font-size: 2em;
    color: white;
    text-decoration: none;
    position: relative;

}


.link::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -1px;
    display: block;
    transition: .5s ease;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
}

.link:hover::after{
    transform: scaleX(1);
    opacity: 1;
}



/* ------------------Header Section Complete--------------------*/




/* ------------------About Section Complete--------------------*/

.about{
    padding-top: 30px;
    padding-bottom: 50px;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.about h2{
    color: #071B21;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Alex Brush', sans-serif;
    margin-bottom: 100px;
    
}

.cardwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;

}

.card{
    background-color: #071B21;
    height: auto;
    width: 500px;
    border-radius: 4px;
    padding: 20px 20px 20px 30px;
    opacity: 0;
    transition: .5s ease;

}

.nav-scrolled{
    transform: translateX(-30px);
    opacity: 1;
    transition: 1.5s ease;
}











.card p{
    font-size: 1.2em;
    line-height: 1.7em;
    color: white;
    position: relative;
    width: 80%;
    opacity: 1;
    
}

.card p::before{
    height: 2.5px;
    width: 30%;
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: white;
}

.card p::after{
    height: 70%;
    width: 2.5px;
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: white;
}

.cardtwo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #071B21;
    height: 450px;
    width:350px;
    border-radius: 4px;
    opacity: 0;
    
    
}

.scrolled{
    transform: translateX(-100px) rotate(10deg);
    opacity: 1;
    transition: 1.5s ease;
}





/* ------------------About Section Complete--------------------*/


/* ------------------Work Section starts--------------------*/

.work{
    height: auto;
    width: 100vw;
    background-color: #071B21;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
    flex-direction: column;
    
}

.workcardwrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    height: auto;
    width: 80%;
    flex-direction: row;
    
}

.projectimgwrapper{
    color: green;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s ease;
    opacity: 0;
    transform: translateX(-20px);

}

.projectimgwrapper1{
    color: green;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s ease;
    opacity: 0;
    transform: translateX(20px);

}

.opacity{
    opacity: 1;
    transform:translateX(0);
}



.projectimgwrapper:hover{
    transform: translateY(-5px);
}

.projectimgwrapper1:hover{
    transform: translateY(-5px);
}



.info{
    background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.384)), url(./images/Video\ Cake1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 125%;
    image-rendering: optimizeQuality;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: .5s ease;
    overflow: hidden;
    z-index: 5;
    
   

}


.info2{
        background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.384)), url(./images/Church\ Design.gif);
    
        
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        image-rendering: optimizeQuality;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        opacity: 0;
        transition: .5s ease;
        overflow: hidden;
        z-index: 5;
        
       
    
    }







.projectimgwrapper:hover .info{
    opacity: 1;
}

.projectimgwrapper1:hover .info{
    opacity: 1;
}

.projectimgwrapper:hover .info2{
    opacity: 1;
}

.projectimgwrapper1:hover .info2{
    opacity: 1;
}

.info:hover .infolink{
    transform: translateY(-14px);
}

.info2:hover .infolink{
    transform: translateY(-14px);
}



.infolink{
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Alex Brush', sans-serif;
    color: white;
    
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: .5s ease;
    

}

.infolink::after{
    content: '';
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scale(0);
    transform-origin: left;
    transition: .5s ease;
    opacity: 0;
}


.infolink:hover::after{
    transform: scale(1);
    opacity: 1;
}

.projectimg{
    
    height: 250px;
    width:400px;
    border: 2px solid rgba(255, 255, 255, 0.603);
    border-radius: 15px;
    position: relative;
}


.work h3{
    font-size: 1.8em;
    color: white;
    font-family: 'Alex Brush', sans-serif;
    margin-bottom: 80px;
}

.linkwrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 23%;
    width: 100%;
    background-color: black;
    z-index: 3;
    position: relative;
}

/* ------------------Contact Section starts--------------------*/


.contact{
    height: auto;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h1{
    font-size: 1.8em;
    font-family: 'Alex Brush', sans-serif;
    text-align: center;
    color: #071B21;
    margin-bottom: 40px;
}

.contact h2{
    font-size: 1.8em;
    font-family: 'Alex Brush', sans-serif;
    text-align: center;
    color: #071B21;
    margin-bottom: 40px;
}


.form{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 50%;
    background-color: #071b21de;
    border-radius: 5px;
    opacity: 1;
   
}

.namefield{
    padding: 5px;
    height: 25px;
    width: 60%;
    outline:none;
    border:none;
    border-left: 2px solid rgba(255, 255, 255, 0.685);
    margin: 15px;
    background-color: #071b2177;
    color: white;

}

.namefield:focus::placeholder{
    opacity: .1;
}

.namefield:focus{
    background-color: #071b2144;
}

.namefield::placeholder{
    color: rgb(248, 248, 248);
    font-family: 'Alex Brush',sans-serif;
    font-size: 1.8em;
    letter-spacing: .1em;
    transition: .5s ease;
}


.message{
    
    height: 50px;
    width: 60%;
    outline:none;
    border:none;
    border-left: 2px solid rgba(255, 255, 255, 0.685);
    margin-top: 30px;
    background-color: #071b215b;
    color: white;
    padding: 10px;
  

}

.message:focus{
    background-color: #071b2144;
}

.message::placeholder{
    
    
    color: rgb(255, 255, 255);
    font-family: 'Alex Brush', sans-serif;
    font-size: 1.8em;
    letter-spacing: .1em;
    transition: .5s ease;
}

.message:focus::placeholder{
    opacity: .1;
    
}


.submit{
    display: block;
    padding: 10px 20px;
    margin-top: 50px;
    
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: transparent;
    
    font-size: 1.6em;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Alex Brush',sans-serif;
    letter-spacing: .1em;
    cursor: pointer;
    position: relative;
}

.submit:focus{
    opacity: .5;
    
}

.submit::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #ffffff77;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: .5s ease;
    opacity: 0;
}

.submit:hover::after{
    transform: scale(1);
    opacity: 1;
}


@media (max-width: 411px) {

    .hero{
        height: 60vh;
    }

    .navigation{
        display: none;
    }

    .hero-text-wrap{
        top: 35%;
        left: 10%;
        width: 95%;
    }
    .hero-text-wrap h1{
        font-size: 2.5rem;
    }

    .hero-text-wrap h2{
        transform: translateX(-360px);
        font-size: 1.7rem;
    }

    .about h2{
        margin-bottom: 50px;
    }

    .cardwrapper{
        width: 100vw;
        flex-direction: column;
    }

    .card p{
        font-size: 1rem;
        transform: translateX(30px);
    }

    .card{
        width: 80%;
        justify-content: center;
        padding: 1em;
        transform: translateX(0px);
    }

    .cardtwo{
        height: 350px;
        width: 70%;
        transform: translateY(-10px) rotate(10deg);
    }

    .workcardwrapper{
        flex-direction: column;
        width: 90%;
    }

    .projectimgwrapper1{
        margin: 20px;
    }

    .form{
        width: 90%;
    }

    .namefield{
        width: 90%;
        height: 50px;
    }

    .message{
        height: 50px;
        width: 90%;
    }
}


@media (max-width: 375px) {

    .hero{
        height: 60vh;
    }

    .navigation{
        display: none;
    }

    .hero-text-wrap{
        top: 35%;
        left: 10%;
        width: 95%;
    }
    .hero-text-wrap h1{
        font-size: 2.5rem;
    }

    .hero-text-wrap h2{
        transform: translateX(-360px);
        font-size: 1.7rem;
    }

    .about h2{
        margin-bottom: 50px;
    }

    .cardwrapper{
        width: 100vw;
        flex-direction: column;
    }

    .card p{
        font-size: 1rem;
        transform: translateX(30px);
    }

    .card{
        width: 80%;
        justify-content: center;
        padding: 1em;
        transform: translateX(0px);
    }

    .cardtwo{
        height: 350px;
        width: 70%;
        transform: translateY(-10px) rotate(10deg);
    }

    .workcardwrapper{
        flex-direction: column;
        width: 90%;
    }

    .projectimgwrapper1{
        margin: 20px;
    }

    .form{
        width: 90%;
    }

    .namefield{
        width: 90%;
        height: 50px;
    }

    .message{
        height: 50px;
        width: 90%;
    }

    .projectimgwrapper{
        width: 95%;
        overflow: hidden;
        
    }

    .projectimgwrapper1{
        width: 95%;
        overflow: hidden;
        
    }

    .projectimg{
        width: 100%;
        
        
    }

    .info{
        height: 100%;
        width: 100%;
        border: 2px solid white;
        
    }
}






















